#gallery-wrapper {
	background-color: #cacaca;
	overflow: hidden;
}

.image{
	float: left;
	width: 100%;
	margin: 1%;
	position: relative;
}

.image img, .wide-image img{
	width: 100%;
}

.wide-image{
	width: 97%;
	margin: auto;
	position: relative;
}

.caption{
	font-family: 'Quantico', sans-serif;
	text-align: center;
	background-color: blue;
	color: white;
	position: absolute;
	bottom: 3px;
	width: 100%;
}


#gallery-wrapper h1{
	text-align: center;
	font-size: 40px;
	font-family: 'Asset', sans-serif;
	color: blue;
	margin: 0 50px 0 50px;
}

.extra-stuff{
	width: 100%;
	padding: 25% 0;
	margin: 1%;
	float: left;
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: blue;
}

#row-one, #row-two, #row-three{
	clear:both;
	float: left;
}

.portrait{
	float: left;
	width: 31%;
	margin: 1%;
	position: relative;
}

@media (max-width: 1000px) and (min-width: 601px){
	.portrait{
		width: 47%;
	}
}

@media screen and (max-width: 600px) {
	.portrait{
		width: 95%;
	}
}
